# Unity 관련 폴더 제외
[Ll]ibrary
[Tt]emp
[Oo]bj
[Bb]uild
[Bb]uilds
[Ll]ogs
[Uu]ser[Ss]ettings

/[Mm]emoryCaptures/
/[Rr]ecordings/

# 빌드 결과물 제외
*.apk
*.aab
*.unitypackage
*.app
*.csproj

# 사용자별 파일 제외
# Visual Studio project files
*.csproj
*.sln
*.user
.vs/
.gradle/
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.VC.db
*library
*temp
*obj
*build
*log
*Firebase
*usersetting
*QA_Office
Assets/YJ/QA_Office 1/*
!QA_Office_1/*

# 임시 파일 및 크래시 리포트 제외
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties

# Addressables 관련 데이터 제외
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Firebase, Plugins 제외
Assets/Firebase.meta/
Assets/YJ/Assets/QA_Office 1/
Assets/Firebase/
Assets/Plugins/
Assets/ExternalDependencyManager/
Assets/Editor Default Resources/
ProjectSettings/EditorBuildSettings.asset
Assembly-CSharp.csproj/

